<div>
  <h3>ToDo List</h3>
  <a mat-raised-button color="primary" [routerLink]="['/todos/new']">New ToDo</a>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{todo.title}}</td>
        <td>{{todo.description}}</td>
        <td>
          <a mat-icon-button color="primary" [routerLink]="[todo.id + '/edit']" matTooltip="Edit" matTooltipPosition="above">
            <mat-icon>edit</mat-icon>
          </a>
          <button mat-icon-button color="warn" type="button" (click)="deleteToDo(todo.id)" matTooltip="Delete" matTooltipPosition="above">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      <tr *ngIf="!todos.length">
        <td colspan="3">No records found.</td>
      </tr>
    </tbody>
  </table>
</div>
